

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 10px 10px;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray .no-gutters {
  padding: 0;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  color: grey;
  margin-left: 14px;
  transition: 0.3s;
}
.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}

.app-rounded-input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}
.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}
.chat-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}
.chat-bubble--left:after {
  left: 0;
  border-right-color: #eee;
  border-left: 0;
  margin-left: -20px;
}
.chat-bubble--right:after {
  right: 0;
  border-left-color: #74b9ff;
  border-right: 0;
  margin-right: -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.offset-md-9 .chat-bubble {
  background: #74b9ff;
  color: #fff;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  bottom: 0;
}
.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray i {
  color: grey;
  vertical-align: middle;
}
.hide-overflow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-overflow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  i{
  color: grey;
  padding: 0px 5px;
}


.my-cursor{
  cursor: pointer;
}
.fade-container{
  width:100%;
  position: relative;
}
.fade-image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.fade-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.fade-container:hover .image {
  opacity: 0.5;
}

.fade-container:hover .fade-middle {
  opacity: 1;
}

.fade-text {
  background-color:#eee;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 5px 5px;
  margin: 5px;
  opacity: 0.8;
  border-radius: 10px;
}
.fade-text:hover{
  color: rgba(55, 55, 55, 0.8);
}
.app-main-div{
  height: 97vh; background-color:#fafafa; border-radius: 5px;
}
.app-navbar{
  height: 10vh; border-bottom: solid 2px #e0e0e0;
}
.app-skip-btn{
  background-color:slateblue; padding: 3px 20px;
}
.app-user-avatar{
  width:6vh; height: 6vh; margin-left: 20px;
}
.app-video-panel{
  border-right: solid 2px #e0e0e0; padding-right: 5px;flex-direction: column;
}

.app-video-panel-wrapper{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  padding-top: 1vh;
  background-color: #fafafa;
}
.app-video-player{
  height: 42vh;
  width: calc(42vh * (4.0/3.0));
  border-radius:5px;
}

.app-msg-box{
  overflow: auto; height: 79vh; width: 100%; font-size: 14px;
  padding-top: 20px;
}
.app-msg-p{
  padding: 5px 10px 0px 10px;
}
.app-msg-client-avatar{
  height: 5vh; width:5vh; margin-right: 5px;
}
.app-max-width-70{
  max-width: 70%;
}
.app-color-grey{
  color:grey;
}
.app-msg-right{
  background-color: slateblue; border-radius: 15px; padding: 7px; color: #eee;
}
.app-msg-left{
  background-color: #eee; border-radius: 15px; padding: 7px;
}
.app-textalign-right{
  text-align: right;
}
.app-msg-img{
  width: 18vw; border-radius: 15px;
  
}
.app-msg-img-border{
  background-color: #ccc; border-radius: 15px; padding: 7px;
}
@media only screen and (max-width: 600px) {
  .app-board{
    flex-direction: column;
  }
  .app-msg-box{
     height: calc(80vh - 33vw);
  }
}
.h-7vh{
  height: 7vh;
}
.app-cross-div{
  width: 100%; align-items: flex-start;
}
.app-cross{
  margin: 5px; color:white;
}
.app-client-avatar{
  margin-top: 6vh; border: solid 2px white; height: 8vw; width: 8vw; background-color: white;
}
.app-clietn-name{
  padding: 5px;
}
.app-client-profile{
  background-color: slateblue; opacity: 0.8; width:100%; height:100%;
}
.app-client-profile-background{
  width: 300px; height: 86vh;
  background-size: cover; color: white;
}
.app-msg-input{
  font-size: 14; margin-left: 0px; color:#212121;border: none; width: 100%; height: 5vh;
}
.app-h-5vh{
  height: 5vh;
}
.app-h-4vh{
  height: 4vh;
}
.app-msg-input-wrapper{
  background-color: white; border-radius: 15px; width: 100%; height: 5vh; 
}

/* The Modal (background) */
.image-modal {
  height: 100vh;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.image-modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
.image-modal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.image-modal .modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.image-modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.image-modal .close:hover,
.image-modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.app-download{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); 
}
.app-download:link {
  text-decoration: none;
}

.app-download:visited {
  text-decoration: none;
}

.app-download:hover {
  text-decoration: none;
  color: rgba(55, 55, 55, 0.8);
}

.app-download:active {
  text-decoration: none;
}
.app-dropdown {
  position: relative;
  display: inline-block;
}

.app-dropdown-content {
  display: none;
  position: absolute;
  right: -10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}
.app-dropdown-content-center {
  display: none;
  right: -100px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.app-dropdown:hover .app-dropdown-content {
  display: block;
}
.app-dropdown:hover .app-dropdown-content-center {
  display: block;
}
.app-info-input{
  border: none;
  border-bottom:solid 2px #bbb;
  background-color: none;
}
.app-info-input:link {
  text-decoration: none;
  background-color: none;
}

.app-info-input:visited {
  text-decoration: none;
  background-color: none;
  background-color: none;
}

.app-info-input:hover {
  text-decoration: none;
  color: rgba(55, 55, 55, 0.8);
  background-color: none;
}

.app-info-input:active {
  text-decoration: none;
  background-color: none;
}
.app-menu-item{
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  color: #555;
}
.app-menu-item:hover{
  background-color: #eee;
}
.app-back-icon{
  font-size: 30px;
}
.app-back-icon:hover{
  color: #74b9ff;
}
i:hover{
  text-shadow: 2px 2px 5px slateblue;
}
.app-btn:hover{
  text-shadow: 2px 2px 5px slateblue;
  box-shadow: 0 4px 8px 0 rgba(206, 39, 228, 0.2), 0 6px 20px 0 rgba(97, 6, 109, 0.19);
}
.app-file-upload{
  left: 0px;
  bottom: 7vh;
  width: 150px;
}
.app-file-upload-img {
  width: 150px;
  border: solid 2px lightgrey;
  border-radius: 5px;
}
.app-topright {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 18px;
}
.dotsContainer {
  height: 5vh;
  background: #fafafa;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cacaca;
}
.dotsContainer #dot1, #dot2, #dot3 {
    width: 1.5vh;
    height: 1.5vh;
    background: #cacaca;
    border-radius: 50%;
    margin: 5px;
    transition: all 0.5s ease-in-out;
    animation: typing 1s infinite;
  }

.dotsContainer  #dot1 {
    animation-delay: 1s;
  }

.dotsContainer #dot2 {
    animation-delay: 0.5s;
  }

.dotsContainer #dot3 {
    animation-delay: 0.8s;
  }

@keyframes typing {
  0% {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }

  50% {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
  }

  100% {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
  }
}
.app-emoji-picker{
  position: absolute;
  bottom: 7vh;
}
.app-typing{
  position: absolute;
  bottom: 7vh;
  right: 0;
}
.app-select{
  border:none;
  border-bottom: solid 2px #eee;
  background-color:'#fafafa';
  width: 150px;
}
.app-profile-desc{
  text-align: left;
  padding: 30px;
}
.app-loading{
  align-items: center;  padding: auto; width: 100%; padding: 40vh 0;height: 88vh;
}
@media only screen and (max-width: 600px) {
  .app-video-panel{
    flex-direction: row;
  }
  .app-video-player{
    height: 33vw;
    width: 45vw;
    border-radius:5px;
  }
  .app-main-div{
    height: auto;
  }
  .chat-box-tray{
    border-radius: 8px;
  }
  .app-video-panel{
    border-right: none; padding-right: 0px;border-bottom: solid 2px #e0e0e0;
  }
  .app-video-panel-wrapper{
    box-shadow: none;
  }
  .app-client-profile-background{
    width: 100%;
  }
}